In [2]:
import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile

In [3]:
x1 = pd.read_excel('/Users/sai/Desktop/Zehrs.xlsx')
x2 = pd.read_excel('/Users/sai/Desktop/Zehrs.xlsx',sheet_name='Planograms in Store')

In [4]:
print(x1.columns)
print(x2.columns)

Index(['Planogram Name', 'POG Category', 'Article Descripton', 'Article #'], dtype='object')
Index(['Store Number', 'Planogram Name', 'POG Category', 'Aisle',
       'Number of Sections', 'Department', 'Unnamed: 6'],
      dtype='object')

In [4]:
print(x1['Planogram Name'].count())
print(x1['POG Category'].count())
print(x1['Article Descripton'].count())
print(x1['Article #'].count())

236602
236602
236602
236602

In [5]:
print(x1['Planogram Name'].nunique())
print(x1['POG Category'].nunique())
print(x1['Article Descripton'].nunique())
print(x1['Article #'].nunique())

1999
527
44038
45338

In [6]:
print(x2['Planogram Name'].count())
print(x2['POG Category'].count())
print(x2['Aisle'].count())
print(x2['Number of Sections'].count())
print(x2['Department'].count())
print(x2['Store Number'].count())
print(x2['Unnamed: 6'].count())

2339
2339
2339
2339
2339
2339
661

In [7]:
print(x2['Planogram Name'].nunique())
print(x2['POG Category'].nunique())
print(x2['Aisle'].nunique())
print(x2['Number of Sections'].nunique())
print(x2['Department'].nunique())
print(x2['Store Number'].nunique())
print(x2['Unnamed: 6'].nunique())

874
456
146
24
20
4
420

In [8]:
x1.head(2)

,Planogram Name,POG Category,Article Descripton,Article #
0,10_DOLLAR_BAG_NON_VISUAL_MARKET_ONTARIO_CLUSTER_A,10 DOLLAR BAG,,21021912
1,10_DOLLAR_BAG_NON_VISUAL_MARKET_ONTARIO_CLUSTER_A,10 DOLLAR BAG,$10 CHICKEN & VEG POTSTICKERS,21093255

In [9]:
x2.head(2)

,Store Number,Planogram Name,POG Category,Aisle,Number of Sections,Department,Unnamed: 6
0,523.0,10_DOLLAR_BAG_NON_VISUAL_MARKET_ONTARIO_CLUSTER_A,10 DOLLAR BAG,MTBW,1.0,Meat,NaN
1,523.0,AIR_CARE_16X78_MARKET_EAST,AIR CARE,GR08R,1.0,Grocery,NaN

In [13]:
table_dept=x2[['Department','POG Category']]
#this table has the names of all departments and categories

In [182]:
des=x1['Article Descripton']

In [209]:
des

0
1          $10 CHICKEN & VEG POTSTICKERS
2                      $10 CHICKEN FRIES
3                    $10 CHICKEN NUGGETS
4                $10 CHICKEN SOUVLAKI FZ
5                     $10 CHICKEN STRIPS
6          $10 CHICKEN TOURNEDOS W BACON
7               $10 FC ITALIAN MEATBALLS
8                    $10 LEAN GRND CHKEN
9                   $10 LEAN GROUND BEEF
10             $10 PIZZA BITES PEPPERONI
11                     $10 POTATO WEDGES
12             $10 SAUSAGE MILD ITAL FRZ
13             $10 SLICED CHICKEN BREAST
14           $10 SMOKED BACON HASHBROWNS
15          $10 ZESTY UNCOOKED CHKN BRST
16              BUTCHER'S BUNDLE BOX BBQ
17           BUTCHER'S BUNDLE FAMILY BOX
18        AIRWICK AERO PURE OCEAN BREEZE
19        AIRWICK AERO PURE PURP LAVNDER
20            AIRWICK ESSENTIAL MIST KIT
21                     AIRWICK FM CITRUS
22                AIRWICK FM KIT MBREEZE
23                   AIRWICK FM LAVENDER
24            AIRWICK FM MOUNTAIN BREEZE
25          AIRWICK FM PURE OCEAN BREEZE
26        AIRWICK FM PURE PRPLE LAVENDER
27            AIRWICK FM VANILLA PASSION
28         AIRWICK LS FM KIT MOMS BAKING
29             AIRWICK LS FM MOMS BAKING
                       ...
236572             SOURCE YOGURT VANILLA
236573               YOCRUNCH CHIPS AHOY
236574                      YOCRUNCH M&M
236575            YOP DRK YOG STRAWBERRY
236576     YOP LIMITED EDITION STRAW BAN
236577       YOP TWIST STRAWBERRY BANANA
236578    YOPLAIT DRINKABLE YOGURT STRWB
236579         YOPLAIT MINIGO POUCH RASP
236580     YOPLAIT MINIGO STRAW DRNK YOG
236581    YOPLAIT SOURCE ASSORTED YOGURT
236582     YOPLAIT TUBES FRU PCH/STR-BAN
236583     YOPLAIT TUBES LIMITED EDITION
236584     YOPLAIT TUBES PEACH/BLUEBERRY
236585     YOPLAIT TUBES RASPBERRY/GRAPE
236586           YOPLAIT WM YOGURT PLAIN
236587      YOPLAIT WM YOGURT SPECIAL ED
236588         YOPLAIT WM YOGURT VANILLA
236589        YOPLAIT YGT PRTN SHAKE VAN
236590             YOPLAIT YOG DRINK PCH
236591       YOPLAIT YOG DRINK RASPBERRY
236592           YOPLAIT YOG DRINK STRAW
236593         YOPLAIT YOG DRINK VANILLA
236594     YOPLAIT YOG MINIGO POUCH STRW
236595    YOPLAIT YOGURT BB MANG VAN CCT
236596     YOPLAIT YOGURT CHRY STRAW VAN
236597       YOPLAIT YOGURT P S STRWBRRY
236598     YOPLAIT YOGURT PCH RASP STRAW
236599       YOPLAIT YOGURT SOURCE ASSTD
236600    Yoplait YOP straw/rasp/strwban
236601    YOPLT MINIGO STRW BAN DRNK YOG
Name: Article Descripton, Length: 236602, dtype: object

In [214]:
des1=des.str.split().str.get(0)

'GLADE'

In [218]:
table_brand=des1

In [219]:
table_brand=table_brand.drop_duplicates()

In [222]:
table_article_numbers=x1[['Article #','Article Descripton']]

In [234]:
table_article_numbers['Article Descripton'][0]='$10 BREADED SWISS CHKN BREAST'
table_article_numbers.head(2)

/Users/sai/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2910: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

  Article #             Article Descripton
0  21021912  $10 BREADED SWISS CHKN BREAST
1  21093255  $10 CHICKEN & VEG POTSTICKERS

In [237]:
table_planograms=x1['Planogram Name'].drop_duplicates()

In [240]:
table_Category=x1['POG Category'].drop_duplicates()

527