In [1]:
pip install dialogflow

The following command must be run outside of the IPython shell:

    $ pip install dialogflow

The Python package manager (pip) can only be used from outside of IPython.
Please reissue the `pip` command in a separate terminal or command prompt.

See the Python documentation for more informations on how to install packages:

    https://docs.python.org/3/installing/

In [1]:
import dialogflow

In [2]:
import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile

In [3]:
df1 = pd.read_excel('/Users/sai/Desktop/Zehrs.xlsx')

In [4]:
df1.head()
df1.shape

(236602, 4)

In [5]:
df2 = pd.read_excel('/Users/sai/Desktop/Zehrs.xlsx',sheet_name='Planograms in Store')

In [6]:
df2.shape

(2339, 6)

In [7]:
print("Column headings:")
print(df1.columns)
print("Column headings:")
print(df2.columns)

Column headings:
Index(['Planogram Name', 'POG Category', 'Article Descripton', 'Article #'], dtype='object')
Column headings:
Index(['Store Number', 'Planogram Name', 'POG Category', 'Aisle',
       'Number of Sections', 'Department'],
      dtype='object')

In [8]:
df1=df1.rename(columns={'Planogram Name':'Planogram_Name','POG Category':'POG_Category','Article Descripton':'Article_Descripton','Article #':'Article_#'})

In [9]:
df2=df2.rename(columns={'Store Number':'Store_Number','Planogram Name':'Planogram_Name','POG Category':'POG_Category','Aisle':'Aisle','Number of Sections':'Number_of_Sections','Department':'Department'})

In [44]:
#from sqlalchemy import create_engine

In [45]:
#engine = create_engine('sqlite:///:memory:')

In [10]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 236602 entries, 0 to 236601
Data columns (total 4 columns):
Planogram_Name        236602 non-null object
POG_Category          236602 non-null object
Article_Descripton    236602 non-null object
Article_#             236602 non-null object
dtypes: object(4)
memory usage: 7.2+ MB

In [11]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2339 entries, 0 to 2338
Data columns (total 6 columns):
Store_Number          2339 non-null int64
Planogram_Name        2339 non-null object
POG_Category          2339 non-null object
Aisle                 2339 non-null object
Number_of_Sections    2339 non-null int64
Department            2339 non-null object
dtypes: int64(2), object(4)
memory usage: 109.7+ KB

In [13]:
df2_523 = df2[df2.Store_Number==523]

In [14]:
df2_523.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 660 entries, 0 to 659
Data columns (total 6 columns):
Store_Number          660 non-null int64
Planogram_Name        660 non-null object
POG_Category          660 non-null object
Aisle                 660 non-null object
Number_of_Sections    660 non-null int64
Department            660 non-null object
dtypes: int64(2), object(4)
memory usage: 36.1+ KB

In [15]:
df2_523.head(5)

,Store_Number,Planogram_Name,POG_Category,Aisle,Number_of_Sections,Department
0,523,10_DOLLAR_BAG_NON_VISUAL_MARKET_ONTARIO_CLUSTER_A,10 DOLLAR BAG,MTBW,1,Meat
1,523,AIR_CARE_16X78_MARKET_EAST,AIR CARE,GR08R,1,Grocery
2,523,ALMAY_04X60,ALMAY,HB06L,1,Cosmetics
3,523,ALT_BEV_NCB_08X78_MARKET_ONTARIO,ALT BEV NCB,GR06R,1,Grocery
4,523,ANALGESICS_12X72_PHARMACY_NOKIDS,ANALGESICS,HB01R,1,HBC

In [16]:
df1.head(10)
df1.shape

(236602, 4)

In [17]:
df_pog_aisle_dept_2=df2_523[['POG_Category','Aisle','Department']]

In [18]:
df_pog_aisle_dept_2.head(5)

    POG_Category  Aisle Department
0  10 DOLLAR BAG   MTBW       Meat
1       AIR CARE  GR08R    Grocery
2          ALMAY  HB06L  Cosmetics
3    ALT BEV NCB  GR06R    Grocery
4     ANALGESICS  HB01R        HBC

In [19]:
Store523= pd.merge(df1,df_pog_aisle_dept_2, on="POG_Category")

In [20]:
Store523.shape

(304838, 6)

In [21]:
df2_525 = df2[df2.Store_Number==525]

In [22]:
df_pog_aisle_dept_525=df2_525[['POG_Category','Aisle','Department']]

In [23]:
Store525= pd.merge(df1,df_pog_aisle_dept_525, on="POG_Category")

In [24]:
df2_524 = df2[df2.Store_Number==524]

In [25]:
df_pog_aisle_dept_524=df2_524[['POG_Category','Aisle','Department']]

In [26]:
Store524= pd.merge(df1,df_pog_aisle_dept_524, on="POG_Category")

In [27]:
df2_528 = df2[df2.Store_Number==528]

In [28]:
df_pog_aisle_dept_528=df2_528[['POG_Category','Aisle','Department']]

In [31]:
Store528= pd.merge(df1,df_pog_aisle_dept_528, on="POG_Category")